.ManageContainer{
    background-color: red;
}

.manage_layout{
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 10px;
    

    box-sizing: border-box;
}
