.pbHeader {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: rgba(255, 170, 205, 0.85);
    margin-bottom: 50px;
}

.selectTest {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.select {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 5px solid rgba(250, 143, 188, 0.85);
    border-radius: 20px;
    width: 380px;
    height: 600px;
}

.selectHeader {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.selectBtn {
    border: none;
    background: none;
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
    color: white;
    
}