/* .header {
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-shrink: 0; 
} */


/* 네비바 전체영역: 100% width */
.navbar {
  height: 60px !important;
  padding: 0 !important;
  margin: 0 !important;
  transition: transform 0.6s ease-out;
  transform: translateY(-100%);
}

/* header 태그 자체 여백 제거 */
header {
  margin: 0;
  padding: 0;
}

/* 나타날 때 */
.show {
  transform: translateY(0);
}

.navWrapper {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  margin: 0 !important;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menuArea {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 60px; 
  margin: 0;
  padding: 0;
  flex-grow: 1;
  font-size: 14px;
  font-weight: 800;
}

/* Bootstrap Nav 기본 padding 강제 제거 */
.menuArea > a,
.menuArea .nav-link {
  padding: 0 !important;
  margin: 0 16px !important;      /* 탭 간격만 유지 */
}

/* 로고 */
.logo {
  font-size: 40px !important;
  font-weight: 800 !important;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
}

/* 색상 모드 */
.transparent {
  background: transparent !important;
  color: white;
}

.transparent a {
  color: white !important;
}

.solid {
  background: rgba(255, 200, 220, 0.85) !important;
  backdrop-filter: blur(6px);
}

.solid a {
  color: white !important;
}

/* 서브 페이지 전용 헤더 스타일 */
.subHeader {
  background: #ffffff !important;
  /* 서브 배경 색 */
  color: #333 !important;
}

.subHeader a {
  color: #333 !important;
}