.container {
  display: flex;
  gap: 20px; 
  justify-content: space-between;
  padding: 20px;
}

/* 3박스 균등 분할 */
.modelbox,
.clothesbox,
.resultbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* [파일 업로드] */

/* 상하의 업로드 */
.upper-lower-container {
    display: flex;
    gap: 20px;
    /* 상하의 사이 간격 */
    justify-content: center;
    /* 가로 중앙 정렬 */
    align-items: flex-start;
    /* 높이 맞추기 */
    margin-bottom: 20px;
    text-align: center;
    /* 레이블 중앙 정렬 */
}


/* 업로드 박스 공통 */
.upload-box {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    border: 2px dashed #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
     background-color: #1000;
}

.upload-box:hover {
    border-color: #777;
}

/* 미리보기  */
.upload-preview {
    width: 300px;
    height: 300px;
    object-fit: contain;
    /* 이미지 비율 유지하면서 박스 안에 맞춤 */
    border-radius: 10px;
    background-color: #1000;
    /* 이미지 없는 경우 배경색 */
}



/* 숨김 input */
.hidden-input {
    display: none;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modalContent {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-height: 80%;
  overflow-y: auto;
  position: relative;
}


/* 버튼 */

.tabButtonStyle {
  float: right;
  padding: 10px 18px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(135deg, #ff8fa3, #ff6f91);
  color: white;
  box-shadow: 0 4px 10px rgba(255, 111, 145, 0.4);
}


.tab2ButtonStyle {
  float: right;
  padding: 10px 18px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(135deg, #87c2ef, #72a8e5);
  color: white;
  box-shadow: 0 4px 10px rgba(138, 206, 236, 0.4);
}

.tab4ButtonStyle {
    width: 50%;
  padding: 10px 18px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  transition: 0.25s;
  background: linear-gradient(135deg, #ffffff, #d2d6d3);
  color: black;
  box-shadow: 0 4px 10px rgba(161, 168, 163, 0.4);
}