.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* 흐림 배경 - 가로 꽉 채우기 */
.videoBgBlur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;           
  filter: blur(18px) brightness(75%);
  transform: scale(1.2);       
  z-index: -2;
}

.videoMain {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 180%;
  width: auto;
  /* 사이즈 조절 아래 수정하기 scale(2.0);*/
  transform: translate(-50%, -50%) ; 
  z-index: -1;
  object-fit: contain;  
  max-width: none;      
}

/* 텍스트 오버레이 */
.overlay {
  position: absolute;
  bottom: 15%;
  left: 10%;
  color: #fff;
  z-index: 10;
}

.overlay h1 {
  font-size: 4rem;
  font-weight: 700;
}

.overlay p {
  margin-top: 10px;
  font-size: 1.2rem;
  opacity: 0.9;
}

/* 반응형 */
@media (max-width: 992px) {
  .overlay h1 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  .overlay h1 {
    font-size: 2rem;
  }
  .overlay {
    bottom: 12%;
    left: 6%;
  }
}
