/* 카드 전체 */
.itemCard {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    overflow: hidden;
    text-align: center;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

/* ----------------- 이미지 래퍼 ----------------- */
.imgWrapper {
    width: 100%;
    flex: 1;
    /* 남는 공간 모두 차지 */
    position: relative;
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* 카드 안 꽉 채움 */
    object-position: center;
    display: block;
    border-radius: 8px;
}

/* ----------------- 텍스트 ----------------- */
.itemCard p {
    margin: 5px 0 0 0;
    font-size: 14px;
    text-align: center;
}

/* ----------------- 액션 버튼 ----------------- */
.actions {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    gap: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.itemCard:hover .actions {
    opacity: 1;
}

.actions button {
    width: 10%;
    aspect-ratio: 1 / 1;
    min-width: 30px;
    min-height: 30px;
    background: rgba(0, 0, 0, 0.4);
    border: none;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1em;
}

.actions button:hover {
    background: rgba(0, 0, 0, 0.6);
}

/* ----------------- 카드 컨테이너 ----------------- */
.cardContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}


.overlayImages {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: flex;
    gap: 5px;
    z-index: 10;
}

.smallImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 6px;
    background: white;
}

/* ----------------- 반응형 ----------------- */
@media (max-width: 768px) {
    .itemCard {
        max-width: 45%;
    }

    .actions button {
        width: 12%;
    }
}

@media (max-width: 480px) {
    .itemCard {
        max-width: 90%;
    }

    .actions button {
        width: 15%;
    }
}

